<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %>
      <div class="app">
        <form method="post" action="/new" style="display: flex; flex-direction: column">
          <% if (error) { %>
          <span class="toast"><%- error %></span>
          <% } %>
          <label for="author">enter name</label>
          <input type="text" id="author" name="author" autocomplete="off" />
          <label for="note">enter note</label>
          <textarea rows="5" type="text" id="note" name="note"></textarea>
          <button class="btn btn-success" type="submit">Add note</button>
        </form>
      </div>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
